@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;


.logopage {
    margin-top: 3rem;

    @include desktop {
        margin-top: 2rem;
    }
}

.logoBox {
    padding-left: 0.7rem;
    display: flex;
    justify-content: center;


    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3rem;
        margin-top: 0%;
        margin-bottom: 1rem;


    }

    &__image {
        width: 12rem;
        // padding-left: 0.5rem;
        opacity: 0;
        animation: fadeIn 5s ease forwards;

        @include tablet {
            margin-left: 1rem;
        }


        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

    }

    &__text {
        font-size: 16px;
        margin-top: 2rem;
        color: $BrushBeat-DarkBlue;
        font-weight: 600;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 3s steps(30) forwards;

        @include tablet {
            font-size: 18px;
        }
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }
}


.imageBox {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    animation: upDown 5s ease infinite alternate;
    animation: fadeIn 5s ease forwards;


    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    @include desktop {
        margin-bottom: 0%;
    }


    &__image-one {
        width: 14rem;
        animation: up 2.5s ease infinite alternate;

        @include tablet {
            width: 17rem;
            margin-right: 2rem;
        }

        @include desktop {
            width: 20rem;
        }
    }

    &__image-two {
        width: 5rem;
        padding-bottom: 2rem;
        animation: down 2.5s ease infinite alternate;

        @include tablet {
            width: 7rem;
            // margin-left: 2rem;
        }

        @include desktop {
            width: 10rem;
        }
    }

    @keyframes upDown {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(20px);
        }
    }

    @keyframes up {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

    @keyframes down {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(20px);
        }
    }
}

.logoButton {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    animation: fadeIn 5s ease forwards;


    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }


    &__btn {
        background-color: $BrushBeat-DarkBlue;
        height: 2rem;
        border-radius: 2.5rem;
        padding: 0.5rem;
        border: none;
        color: $White;
        font-weight: 600;
        transition: background-color 0.3s, box-shadow 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

        &:hover {
            background-color: darken($BrushBeat-DarkBlue, 10%);
        }

        &:active {
            background-color: lighten($BrushBeat-DarkBlue, 10%);
            box-shadow: none;
        }
    }
}