$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$BrushBeat-Black: #323232;
$BrushBeat-DarkBlack: #000000;
$BrushBeat-Blue: #468B97;
$BrushBeat-DarkBlue: #1D5B79;
$BrushBeat-Red: #EF6262;
$BrushBeat-Yellow: #FEEDAB;
$Silver: #AFAFAF;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;
$White: #FFFFFF;



@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}