@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;


.images {
    padding: 5%;

    @include tablet {
        padding-top: 0%;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        color: $BrushBeat-Black;
        border-top: 1px solid $Mercury;
        padding-top: 5%;
        padding-bottom: 0%;

        @include tablet {
            padding-top: 2%;
        }

        @include desktop {
            border-top: none;
        }
    }
}

.imagelist {
    padding-inline-start: 0%;
    list-style-type: none;
    margin-top: 0%;
    margin-bottom: 0%;

    @include tablet {
        display: inline-block;
        justify-content: space-around;
        padding-left: 5%;
    }

    &__images {
        width: 90%;
        padding: 5%;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2);
        }

        @include tablet {
            width: 150px;
            height: 100px;
            margin: 0% 10%;
        }
    }

    &__item {
        display: flex;
        justify-content: center;

        @include tablet {
            display: inline-block;
            justify-content: space-between;

        }
    }
}

.link {
    text-decoration: none;

}

.upload {
    padding: 5%;

    &__image {
        width: 150px;
        height: 150px;
        margin: 0% 10%;

        padding: 5%;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

        @include tablet {
            width: 8rem;
            height: 8rem;
            margin: 0% 10%;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 5rem;
    }

    &__title {
        width: 15rem;
        padding: 0.5rem;
        border: 1px solid $Mercury;
        border-radius: 5px;
        border: transparent;
        outline: none;
        background-color: $Alabaster;

        &::placeholder {
            color: $BrushBeat-Blue;
        }

        &:focus,
        &:not(:placeholder-shown) {
            border: 1.5px solid $BrushBeat-Blue;
            background-color: $Mercury;
        }

        @include tablet {
            width: 20rem;
        }
    }

    &__medium {
        width: 15rem;
        padding: 0.5rem;
        border: 1px solid $Mercury;
        border-radius: 5px;
        border: transparent;
        outline: none;
        background-color: $Alabaster;

        &::placeholder {
            color: $BrushBeat-Blue;
        }

        &:focus,
        &:not(:placeholder-shown) {
            border: 1.5px solid $BrushBeat-Blue;
            background-color: $Mercury;
        }

        @include tablet {
            width: 20rem;
        }
    }

    &__description {
        width: 15rem;
        height: 5rem;
        padding: 0.5rem;
        border: 1px solid $Mercury;
        border-radius: 5px;
        border: transparent;
        outline: none;
        background-color: $Alabaster;

        &::placeholder {
            color: $BrushBeat-Blue;
        }

        &:focus,
        &:not(:placeholder-shown) {
            border: 1.5px solid $BrushBeat-Blue;
            background-color: $Mercury;
        }

        @include tablet {
            width: 20rem;
        }
    }

    &__button {
        width: 5rem;
        padding: 0.5rem;
        border: 1px solid $Mercury;
        border-radius: 5px;

        background-color: $BrushBeat-DarkBlue;
        border: none;
        color: $White;
        font-weight: 600;
        transition: background-color 0.3s, box-shadow 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

        &:hover {
            background-color: darken($BrushBeat-DarkBlue, 10%);
        }

        &:active {
            background-color: lighten($BrushBeat-DarkBlue, 10%);
            box-shadow: none;
        }
    }

    &__input {
        // display: none;
    }

}