@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;


.comments {
    padding: 5%;
    padding-top: 0%;

    @include tablet {
        padding-top: 0%;
        padding-bottom: 0%;

    }

    &__box {
        padding-inline-start: 0%;
        border-bottom: 1px solid $White;

        @include tablet {
            padding-top: 2%;
            padding-bottom: 2%;
        }
    }
}


.list {
    list-style-type: none;
    border-top: 1px solid $White;
    font-size: 14px;
    padding-left: 20%;
    line-height: 1.5;
    position: relative;

    @include tablet {
        padding-left: 9%;
    }

    &__name {
        font-weight: 600;
    }

    &__time {
        position: absolute;
        top: 0%;
        right: 5%;
        color: $Silver;

        @include tablet {
            right: 0%;
        }
    }

    &__image {
        //This represents profile image for each comment
        width: 40px;
        height: 40px;
        background-color: $BrushBeat-Yellow;
        border-radius: 50%;
        position: absolute;
        top: 0%;
        left: 0%;
    }

}

.comment-item {
    display: flex;
    justify-content: space-between;

    &__icon {
        //This represents like icon for each comment
        width: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__like {
        filter: invert(55%) sepia(55%) saturate(3856%) hue-rotate(326deg) brightness(102%) contrast(89%);
    }

    &__count {
        color: $BrushBeat-Black;
    }

    &__button {
        background-color: $White;
        border: none;
    }

    &__dlt {
        filter: invert(13%) sepia(34%) saturate(1927%) hue-rotate(197deg) brightness(101%) contrast(93%);
        padding-top: 0.6rem;
    }
}