@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;

.newComment {
    margin: 5%;

    &__box {
        @include tablet {
            padding: 0 5%;
        }

        @include desktop {
            padding: 0 2%;
        }
    }

    &__input {
        display: flex;
        justify-content: center;

        @include tablet {
            justify-content: end;
        }
    }

    &__text-input {
        border: transparent;
        width: 90%;
        height: 35px;
        border-radius: 20px;
        padding: 5%;
        outline: none;
        border: 1px solid $Mercury;
        background-color: $Alabaster;

        &::placeholder {
            color: #468B97;
        }

        &:focus,
        &:not(:placeholder-shown) {
            border: 1.5px solid $BrushBeat-Blue;
            background-color: $Mercury;
        }

        @include tablet {
            width: 100%;
            padding: 2%;
            height: 35px;
        }
    }

    &__button {
        display: flex;
        justify-content: center;

        @include tablet {
            justify-content: end;
        }
    }

    &__btn {
        background-color: $BrushBeat-Blue;
        width: 90%;
        height: 35px;
        border-radius: 20px;
        border: none;
        color: $White;
        font-weight: 600;
        transition: background-color 0.3s, box-shadow 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        // box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

        &:hover {
            background-color: darken($BrushBeat-Blue, 10%);
        }

        &:active {
            background-color: lighten($BrushBeat-Blue, 10%);
            box-shadow: none;
        }

        @include tablet {
            width: 25%;
            height: 35px;
        }
    }
}