@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;

.selectedImage {
    margin: 5%;
    margin-bottom: 0%;
    padding-bottom: 0%;

    &__title {
        color: $BrushBeat-Black;
        font-size: 20px;
        font-weight: 700;
    }

    &__description {
        color: $BrushBeat-Black;
        font-size: 12px;
        font-weight: 400;
    }

    &__medium {
        color: $BrushBeat-Black;
        font-size: 12px;
        font-weight: 600;
    }

    &__container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    &__image {
        height: 95%;
        width: 95%;
        object-fit: cover;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.3), 0.3em 0.3em 1em rgba(0, 0, 0, 0.6);
    }
}


.data {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 5%;

    &__item {
        width: 40px;
        display: flex;
        justify-content: space-between;
    }

    &__interaction {
        display: flex;
        color: $BrushBeat-Black;
    }

    &__icons {
        padding-right: 5px;
        filter: invert(55%) sepia(55%) saturate(3856%) hue-rotate(326deg) brightness(102%) contrast(89%);
    }

    &__time {
        color: $BrushBeat-Black;
    }
}